<div class="author">
    <h1 class="author__heading">Welcome to FutureTimes.</h1>
    <p class="author__body">A blog dedicated to exploring the most relevant news about AI.</p>
</div>

<div class="text-center">
    <img src="../img/wallpaper.jpg" alt="wallpaper" class="hero-image">
</div>

<section class="articles">
    <h2 class="articles__heading">Latest articles</h2>

    <% posts.forEach(post => { %>
        <div class="card mb-4">
            <img src="<%= post.image %>" class="card-img-top" alt="<%= post.title %>">
            <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.content.substring(0, 100) %>...</p>
                <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More</a>
            </div>
            <div class="card-footer text-muted">
                Posted on <%= post.createdAt.toDateString() %>
            </div>
        </div>
    <% }) %>
    <div class="text-center">
        <% if (page > 1) { %>
            <a href="/?page=<%= page - 1 %>" class="btn btn-primary">View Newer Posts</a>
        <% } else { %>
            <button class="btn btn-primary" disabled>View Newer Posts</button>
        <% } %>
        <% if (page < totalPages) { %>
            <a href="/?page=<%= page + 1 %>" class="btn btn-primary">View Older Posts</a>
        <% } else { %>
            <button class="btn btn-primary" disabled>View Older Posts</button>
        <% } %>
    </div>
</section>